@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<main class="bg-body-secondary">
    <div class="container py-2">
        <div class="row justify-content-center align-items-center my-3">
            <div class="col-12 col-md-9 col-lg-6 col-xl-5">
                <div class="p-4 rounded-4 shadow text-body-emphasis card">

                    <h1 class="text-center text-primary mb-2 text-uppercase">Register</h1>

                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger text-center my-2" role="alert"></div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Name" class="form-control" aria-required="true" placeholder="name" />
                            <label asp-for="Input.Name">Name</label>
                            <span asp-validation-for="Input.Name" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <select asp-for="Input.Role" asp-items="Model.Input.RoleList" class="form-select">
                                <option disabled selected>--Select Role--</option>
                            </select>
                            <label asp-for="Input.Role">Role</label>
                        </div>

                        <div class="mb-2">
                            <button id="registerSubmit" type="submit" class="w-100 btn px-4 py-2 btn-primary">Register</button>
                        </div>
                    </form>

                    <p class="text-center mb-0">
                        Have an account?
                        <a asp-page="./Login" class="text-decoration-none fw-bold">Login</a> now.
                    </p>

                    <div class="divider d-flex align-items-center my-3">
                        <p class="mb-0 flex-grow-1 ms-2"
                           style="height: 1px; background-color: #eee"></p>
                        <p class="text-center fw-bold mx-3 mb-0 text-muted">OR</p>
                        <p class="mb-0 flex-grow-1 me-2"
                           style="height: 1px; background-color: #eee"></p>
                    </div>               

                    @{
                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                        {
                            <div>
                                <p>
                                    There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                        article about setting up this ASP.NET application to support logging in via external services</a>.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <div class="d-flex justify-content-center mb-2">
                                        @if(provider.DisplayName!.Contains("facebook", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <button type="submit" class="btn btn-primary px-4 py-2 col-12" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <i class="fab fa-facebook me-2"></i> Continue with @provider.DisplayName
                                            </button>
                                        }
                                        else if (provider.DisplayName.Contains("google", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <button type="submit" class="btn btn-danger px-4 py-2 col-12" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <i class="fab fa-google me-2"></i> Continue with @provider.DisplayName
                                            </button>
                                        }
                                        else if (provider.DisplayName.Contains("microsoft", StringComparison.OrdinalIgnoreCase))
                                        {
                                            <button type="submit" class="btn btn-dark px-4 py-2 col-12" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <i class="fab fa-microsoft me-2"></i> Continue with @provider.DisplayName
                                            </button>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn-dark px-4 py-2 col-12" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                                <i class="fas fa-right-to-bracket me-2"></i> Continue with @provider.DisplayName
                                            </button>
                                        }
                                    </div>
                                }
                            </form>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
