@model OrderListVM

@{
    ViewData["Title"] = "Manage orders";
    ViewData["ActivePage"] = ManageOrderNav.Order;
}

<div class="row g-3">
    <div class="col-xl-12 col-md-12">
        <div class="d-flex justify-content-end">
            <div class="flex-wrap" role="group">
                <a asp-controller="Order" asp-route-status="@PaymentStatuses.DelayedPayment"
                   class="btn btn-outline-primary position-relative me-2 mb-2 @ManageOrderStatusNav.DelayedPaymentNavClass(Context)">
                    Payment Pending
                    @if (Model.PaymentPendingCount > 0)
                    {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            @Model.PaymentPendingCount
                        </span>
                    }
                </a>
                <a asp-controller="Order" asp-route-status="@OrderStatuses.Approved"
                   class="btn btn-outline-primary position-relative me-2 mb-2 @ManageOrderStatusNav.ApprovedNavClass(Context)">
                    Approved
                    @if (Model.ApprovedCount > 0)
                    {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            @Model.ApprovedCount
                        </span>
                    }
                </a>
                <a asp-controller="Order" asp-route-status="@OrderStatuses.InProcess"
                   class="btn btn-outline-primary position-relative me-2 mb-2 @ManageOrderStatusNav.InProcessNavClass(Context)">
                    In Process
                    @if (Model.InProcessCount > 0)
                    {
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            @Model.InProcessCount
                        </span>
                    }
                </a>
                <a asp-controller="Order" asp-route-status="@OrderStatuses.Shipped"
                   class="btn btn-outline-primary position-relative me-2 mb-2 @ManageOrderStatusNav.ShippedNavClass(Context)">
                    Completed
                </a>
                <a asp-controller="Order"
                   class="btn btn-outline-primary mb-2 @ManageOrderStatusNav.AllNavClass(Context)">
                    All
                </a>
            </div>
        </div>

        <div class="card shadow">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0">
                    <i class="fa-solid fa-table"></i> ORDERS
                </h4>
            </div>
            <div class="card-body px-3 py-2">
                <div class="datatable-area scroll-container overflow-auto">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in Model.OrderHeaders)
                            {
                                <tr>
                                    <td>@order.Id</td>
                                    <td>@order.Name</td>
                                    <td>@order.PhoneNumber</td>
                                    <td>@order.ApplicationUser.Email</td>
                                    <td>
                                        <span class="
                                            @(order.OrderStatus == OrderStatuses.Pending 
                                                || order.OrderStatus == OrderStatuses.Approved 
                                                || order.OrderStatus == OrderStatuses.InProcess ? "text-primary" : 
                                                order.OrderStatus == OrderStatuses.Shipped ? "text-success" : 
                                                "text-danger")">
                                            @order.OrderStatus
                                        </span>
                                    </td>
                                    <td>@order.OrderTotal.ToString("c")</td>
                                    <td>
                                        <a asp-action="Details" asp-route-orderId="@order.Id" class="btn btn-primary py-1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(() => {
            // Data table
            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        });
    </script>
}